.statsTable{
    position: absolute;
    top: 0;
    left: 0;
    max-height: 400px;
    overflow-y: scroll;
    @media (max-width: 1180px) {
      position: relative;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      background: linear-gradient(180deg, #333, #444); 
      border: 1px solid #444;
      color: #fff; 
    
      th, td {
        padding: 10px;
        border: 1px solid #444;
      }
    
      th {
        background: linear-gradient(180deg, #222, #333);
        font-weight: bold;
      }
    
      tr:nth-child(even) {
        background: linear-gradient(180deg, #444, #555); 
      }
    
      tr:hover {
        background: linear-gradient(180deg, #555, #666); 
      }
    }
  }
  
  